<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>{{channelName}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, sunt quia. Esse, quo et. Vel expedita nisi doloribus repudiandae sint veritatis? Culpa rerum quae temporibus velit cupiditate quibusdam adipisci impedit atque ipsa debitis magnam itaque, inventore eligendi magni aspernatur accusamus consectetur tempora aut.</p>
</body>
</html>