<section class="feature" id="feature">
        <h1 class="heading">our <span>feature</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="./image/feature-img-1.png" alt="">
                <h3>Fresh And Organic</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div class="btn"  class="feature-button" >
                    <button>Read more</button>

                </div>
            </div>
            <div class="box">
                <img src="./image/feature-img-2.png" alt="">
                <h3>Fresh And Organic</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div class="btn" class="feature-button" >
                    <button>Read more</button>

                </div>
            </div>
            <div class="box">
                <img src="./image/feature-img-3.png" alt="">
                <h3>Fresh And Organic</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div class="btn" class="feature-button"  >
                    <button>Read more</button>

                </div>
            </div>


        </div>

    </section>
