  <div class="navigation">
        <div class="logo">
            <a href="#"><i id="logo" class="fa fa-shopping-basket" aria-hidden="true"></i>Grocery</a>
        </div>
        <ul class="menu-bar">
            <li> <a href="#home">{{home}}</a> </li>
            <li> <a href="#feature">Feature</a></li>
            <li> <a href="#Products">Products</a> </li>
            <li> <a href="#Categories"> Categories</a> </li>
            <li> <a href="#Review">Review</a> </li>
            <li> <a href="#Blogs">Blogs</a> </li>
        </ul>


        <div class="icons">
            <i class="fa fa-bars" aria-hidden="true" id="icon-bars"></i>
            <i class="fa fa-search" aria-hidden="true" id="icon-search"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true" id="icon-cart"></i>
            <i class="fa fa-user" aria-hidden="true" id="icon-user"></i>
        </div>

        <form class="search-form">
            <input type="search" id="search-box" placeholder="search here">
            <label for="search-box" class="fa fa-search"></label>
        </form>


        <div class="shopping-cart">
            <div class="box">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <img src="./image/cart-img-1.png" alt="">
                <div class="content">
                    <h3>Watermelon</h3>
                    <span class="price">$5.99 /-</span>
                    <span class="quantity">Qty : 1</span>
                </div>
            </div>
            <div class="box">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <img src="./image/cart-img-2.png" alt="">
                <div class="content">
                    <h3>Onion</h3>
                    <span class="price">$2.99 /-</span>
                    <span class="quantity">Qty : 4</span>
                </div>
            </div>
            <div class="box">
                <img src="./image/cart-img-3.png" alt="">
                <div class="content">
                    <h3>Chicken</h3>
                    <span class="price">$5.99 /-</span>
                    <span class="quantity">Qty : 2</span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>

            <div class="total">
                total : $34 /-
            </div>
            <div class="btn">
                <button>Checkout</button>
            </div>
        </div>


        <div class="login-page">
            <h3>login now</h3>
            <input type="email" placeholder="your email" class="box">
            <input type="password" placeholder="your password" class="box">
            <div class="btn">
                <button class="log-in">Login</button>
            </div>
            <p class="p"><a href="#">Forgotten Password ?</a></p>
            <!-- <p class="p">Don't Have  an account <a href="#">Create Now</a></p> -->
            <div class="btn">
                <button class="account">Create New Account</button>
            </div>
            <div class="horizontal-line">

            </div>


        </div>




    </div>