<section class="main" id="home">
        <div class="content">
            <h3>Fresh And <span>Organic</span> Products for you</h3>
            <p>Lorem ipsum dolor sit amet consecorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum rem
                cupiditate ab quos. iusto nobis quam perferendis cum enim sunttetur adipisicing elit. Ipsum rem
                cupiditate ab quos. iusto nobis quam perferendis cum enim sunt</p>
            <div class="btn" id="main-button">
                <button>
                    shop now
                </button>
            </div>

        </div>

    </section>