<section class="Products" id="Products">
    <h1 class="heading">our <span>Products</span></h1>
   
    <div class="container">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-1.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-2.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-3.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-4.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-2.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-3.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-4.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-2.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-3.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-4.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-2.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="image">
                            <img src="./image/pic-3.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Ajay Singh</div>
                            <div class="job">Software Enginner</div>
                            <div class="media-icons">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
        <div class="button">
            <label for="one" class="one active"></label>
            <label for="two" class="two"></label>
        </div>
    </div>
</section>
